<nav class='ui-nav'>
    <div class='ui-layout-container'>
        <div class='ui-section-nav__layout ui-layout-flex'>
            <a class='ui-section-nav__link {% if ['/'].includes(page.url) %}ui-section-nav__link--active{% endif %}' href='{{ page.url | relativeUrl }}'>피드</a>
            <a class='ui-section-nav__link {% if ['/hot/'].includes(page.url) %}ui-section-nav__link--active{% endif %}' href='{{ page.url | relativeUrl }}hot/'>인기 피드</a>
            <a class='ui-section-nav__link {% if ['/blogs/'].includes(page.url) %}ui-section-nav__link--active{% endif %}' href='{{ page.url | relativeUrl }}blogs/'>블로그 전체 보기</a>
        </div>
    </div>
</nav>
