---
layout: layouts/main.njk
eleventyComputed:
    pageTitle: "블로그 전체 보기｜{{ constants.siteTitle }}"
    lastUpdated: "{{ lastModifiedBlogsDate }}"
---

{% include 'layouts/partials/nav.njk' %}

<section class="ui-section-content ui-section-blog">
    <div class="ui-layout-container">
        <h2 class='ui-typography-heading'>블로그 전체 보기<small>(업데이트 순)</small></h2>
        <div class="ui-section-content--feature ui-layout-grid ui-layout-grid-3 ui-container-blog">
            {% asyncEach blogFeed in blogFeeds %}
                <div class='ui-blog'>
                    <a class='ui-blog__og-image' href='./{{ blogFeed.linkMd5Hash }}/'>
                        {% if blogFeed.ogImageUrl %}
                            {% image blogFeed.ogImageUrl, '블로그 대표 그림', '../' %}
                        {% else %}
                            <img src='{{ page.url | relativeUrl }}images/alternate-feed-image.png' loading="lazy" decoding='async' alt='포스팅 대표 그림' width='256' height='256'>
                        {% endif %}
                    </a>
                    <div class='ui-blog__content'>
                        <a class='ui-blog__title' href='./{{ blogFeed.linkMd5Hash }}/'>{{ blogFeed.title }}</a>
                        <a class='ui-blog__link' href='{{ blogFeed.link }}'>{{ blogFeed.link }}</a>
                        {% if blogFeed.ogDescription %}
                            <div class='ui-blog__description'>{{ blogFeed.ogDescription | truncate(200, true, "...") }}</div>
                        {% endif %}
                        {% if blogFeed.lastUpdated %}
                            <div class='ui-blog__date' title='{{ blogFeed.lastUpdatedForHuman }}'>{{ blogFeed.diffLastUpdatedDateForHuman }}</div>
                        {% else %}
                            <div class='ui-blog__date' title='업데이트 날짜 없음'>-</div>
                        {% endif %}
                    </div>
                </div>
            {% endeach %}
        </div>
    </div>
</section>
