---
layout: layouts/main.njk
eleventyComputed:
    pageTitle: "인기 피드｜{{ constants.siteTitle }}"
    lastUpdated: "{{ lastModifiedBlogsDate }}"
---

{% include 'layouts/partials/nav.njk' %}

<section class="ui-section-content ui-section-feed">
    <div class="ui-layout-container">
        <h2 class='ui-typography-heading'>최근 1주간의 인기 피드</h2>
        <p class='ui-text-note'>북마크 수를 기준으로 최신 순서로 정렬</p>

        <div class="ui-section-content--feature ui-layout-grid ui-layout-grid-3 ui-container-feed ui-container-feed--hot">
            {% asyncEach feedItem in feedItemsHot %}
                {% include 'layouts/partials/feed-item.njk' %}
            {% endeach %}
        </div>
    </div>
</section>

<script>
    {% include "scripts/index.ts" %}
</script>
